@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
  --font: "Red Hat Display", sans-serif;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: var(--Pale-blue);
}

body {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

.card-component {
  width: 455px;
  height: 700px;
  background-color: var(--white);
  border-radius: 20px;
  overflow: hidden;
}

.text-holder {
  padding: 40px;
  text-align: center;
  font-family: var(--font);
}

.text-head {
  font-weight: 900;
  font-size: 1.7rem;
  color: var(--Dark-blue);
}

.text-para {
  color: var(--Desaturated-blue);
  padding: 20px;
}

.annual-bar {
  width: 355px;
  height: 100px;
  background-color: var(--Very-pale-blue);
  border-radius: 15px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.annual-items {
  display: flex;
  flex-direction: row;
  margin-left: 25px;
  justify-content: center;
  align-items: center;
}

.annual-head {
  font-weight: 900;
  font-family: var(--font);
  color: var(--Dark-blue);
}

.annual-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.change-text {
  color: var(--Pale-blue);
  font-family: var(--font);
  margin-left: 95px;
  font-size: 1rem;
  font-weight: 700;
}

.change-text:hover {
  color: var(--Dark-blue);
}

.annual-para {
  color: var(--Desaturated-blue);
}

.proceed-button {
  width: 355px;
  height: 50px;
  background-color: var(--Bright-blue);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: var(--font);
  font-weight: 700;
  font-size: 1rem;
  color: var(--Very-pale-blue);
  cursor: pointer;
}

.proceed-button:hover {
  background-color: var(--Pale-blue);
  transition: background-color 0.2s ease;
}

.cancel-button {
  width: 355px;
  height: 50px;
  margin: 25px auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  font-family: var(--font);
  font-weight: 700;
  font-size: 1rem;
  color: var(--Desaturated-blue);
  cursor: pointer;
}

.cancel-button:hover {
  color: var(--Dark-blue);
  transition: color 0.2s ease;
}

.footer-text {
  width: 100%;
  bottom: 0.2rem;
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  text-align: center;
  font-family: var(--font);
}

@media only screen and (max-width: 600px) {
  .image-hero {
    width: 350px;
  }
  .card-component {
    width: 350px;
    height: fit-content;
  }

  .text-head {
    font-weight: 900;
    font-size: 1.5rem;
    color: var(--Dark-blue);
  }

  .text-holder {
    padding: 25px;
  }

  .text-para {
    color: var(--Desaturated-blue);
    font-size: 1rem;
  }

  .annual-bar {
    width: 280px;
    height: 85px;
  }

  .proceed-button {
    width: 280px;
    height: 50px;
    font-size: 1rem;
  }

  .cancel-button {
    width: 280px;
    height: 50px;
    font-size: 1rem;
    margin-top: 10px;
  }

  .annual-items {
    display: flex;
    flex-direction: row;
    margin-left: 16px;
    justify-content: center;
    align-items: center;
  }

  .change-text {
    margin-left: 30px;
  }
}
